{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="jumbotron mt-3">
                    <h1 class="display-4">Hello, {{ user.username }}!</h1>
                    <p class="lead">A warm welcome back to your blog Content Management System Centre. We're so happy you've made it back to post another great blog.</p>
                    <hr class="my-4">
                    <a class="btn btn-primary btn-lg" href="/insertBlog" role="button">Write a new blog</a>
                  </div>
            </div>
        </div>
    </div>
    <h2>Your current blogs are listed below:</h2>
    {% for post in posts %}
    <div class="container">
        <div class="row">
            <div class="col-10 mx-auto my-3">
                <div class="card text-center">
                    <div class="card-header">
                        {{ post.title }}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ post.author }}</h5>
                        <p class="card-text">{{ post.article_text }}</p>
                    </div>
                    <div class="card-footer text-muted">
                        {{ post.tag_name}}
                    </div>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a href="{{ url_for('editBlog', blog_id=post._id) }}">
                            <button type="button" class="btn btn-info">Edit</button>
                        </a>
                        <a href="{{ url_for('remove', blog_id=post._id) }}">
                            <button type="button" class="btn btn-danger">Delete</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}